:root {
  --grey: #f5f5f5;
  --primarypurple: #8c00e8;
  --lightpurple: #eee3f8;
  --white: #ffffff;
  --black: #000000;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
}
